
@import "_contact.scss";
#header {
    background-color: red;
    .logo {
        h1 {
            color: white;
        }
    }
    .big-menu {
        ul {
            a {
                font-size: 20px;
                padding: 25px 20px;
                color: white;
                text-decoration: none;
                display: block;
            }
        }
    }
}



@import "_responsive.scss";
